In [1]:
import numpy as np
import pandas as pd

In [3]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
chipo.shape

(4622, 5)

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [39]:
chipo["choice_description"].value_counts().nlargest(n=1).values[0]

134

In [42]:
df=print(chipo.groupby(['choice_description'])['choice_description'].agg(['count']))

                                                    count
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...      1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...      1
[Adobo-Marinated and Grilled Chicken]                   1
[Adobo-Marinated and Grilled Steak, [Sour Cream...      1
[Adobo-Marinated and Grilled Steak]                     1
...                                                   ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1

[1043 rows x 1 columns]

In [44]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000